@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #241f21;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img,
h1,
video,
a,
button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button,
a {
  cursor: pointer;
}

::-moz-placeholder {
  color: #fff;
  letter-spacing: 2px;
}

:-ms-input-placeholder {
  color: #fff;
  letter-spacing: 2px;
}

::placeholder {
  color: #fff;
  letter-spacing: 2px;
}

::-webkit-scrollbar {
  width: 0;
}

::-moz-selection {
  background-color: #f49740;
  color: #fff;
}

::selection {
  background-color: #f49740;
  color: #fff;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
@media screen and (max-width: 1200px) {
  .cursor {
    display: none;
  }
}

.cursor--small {
  width: 10px;
  height: 10px;
  left: -4.5px;
  top: -4.5px;
  border-radius: 50%;
  z-index: 100;
  background: #f49740;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .loading {
    margin-bottom: 10rem;
  }
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -webkit-animation: pulsOut 1.8s ease-in-out infinite;
          animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(244, 151, 64, 0.75));
}

.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #f49740;
  -webkit-animation-name: pulsIn;
          animation-name: pulsIn;
}

.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #f49740;
}

@-webkit-keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #f49740;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #f49740 #fff;
    opacity: 0;
  }
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #f49740;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #f49740 #fff;
    opacity: 0;
  }
}
@-webkit-keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #f49740;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #f49740;
    opacity: 1;
  }
}
@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #f49740;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #f49740;
    opacity: 1;
  }
}
.headerBg {
  background-color: #241f21;
  transition: 0.5s;
}

#header-about,
#header-gallery,
#header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: #241f21;
  position: fixed;
  z-index: 10;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  #header-about .lg-screen,
#header-gallery .lg-screen,
#header-contact .lg-screen {
    display: none;
  }
}
#header-about .lg-screen ul,
#header-gallery .lg-screen ul,
#header-contact .lg-screen ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
#header-about .lg-screen ul .link,
#header-gallery .lg-screen ul .link,
#header-contact .lg-screen ul .link {
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  white-space: nowrap;
  color: #fff;
}
#header-about .lg-screen ul .active,
#header-gallery .lg-screen ul .active,
#header-contact .lg-screen ul .active {
  color: #f49740;
}
#header-about .lg-screen ul .link::before,
#header-about .lg-screen ul .link::after,
#header-gallery .lg-screen ul .link::before,
#header-gallery .lg-screen ul .link::after,
#header-contact .lg-screen ul .link::before,
#header-contact .lg-screen ul .link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #f49740;
  top: 100%;
  left: 0;
  pointer-events: none;
}
#header-about .lg-screen ul .link::before,
#header-gallery .lg-screen ul .link::before,
#header-contact .lg-screen ul .link::before {
  content: "";
  /* show by default */
}
#header-about .lg-screen ul .link--thebe,
#header-gallery .lg-screen ul .link--thebe,
#header-contact .lg-screen ul .link--thebe {
  text-transform: uppercase;
}
#header-about .lg-screen ul .link--thebe::before,
#header-gallery .lg-screen ul .link--thebe::before,
#header-contact .lg-screen ul .link--thebe::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}
#header-about .lg-screen ul .link--thebe:hover::before,
#header-gallery .lg-screen ul .link--thebe:hover::before,
#header-contact .lg-screen ul .link--thebe:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 2, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}
#header-about .lg-screen ul .link--thebe::after,
#header-gallery .lg-screen ul .link--thebe::after,
#header-contact .lg-screen ul .link--thebe::after {
  content: "";
  top: calc(100% + 4px);
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}
#header-about .lg-screen ul .link--thebe:hover::after,
#header-gallery .lg-screen ul .link--thebe:hover::after,
#header-contact .lg-screen ul .link--thebe:hover::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}
#header-about .menu-container,
#header-gallery .menu-container,
#header-contact .menu-container {
  background-color: #fff;
  border-radius: 100%;
  color: #f49740;
  cursor: pointer;
  position: absolute;
  left: -118px;
  top: -95px;
  transition: all 0.3s;
}
@media (min-width: 769px) {
  #header-about .menu-container,
#header-gallery .menu-container,
#header-contact .menu-container {
    display: none;
  }
}
#header-about .menu-container.full-menu,
#header-gallery .menu-container.full-menu,
#header-contact .menu-container.full-menu {
  border-radius: 0;
  padding: 0;
  position: aboslute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  transition: all 0.3s;
}
#header-about .full-menu .menu,
#header-gallery .full-menu .menu,
#header-contact .full-menu .menu {
  top: 40px;
  left: 40px;
}
#header-about .menu,
#header-gallery .menu,
#header-contact .menu {
  color: #f49740;
  font-size: 2rem;
  position: absolute;
  top: 115px;
  left: 130px;
  z-index: 100;
  transition: all 0.3s;
}
#header-about .menu i,
#header-gallery .menu i,
#header-contact .menu i {
  opacity: 0.7;
  transform: scale(1);
  transition: all 0.3s;
}
#header-about .menu i:hover,
#header-gallery .menu i:hover,
#header-contact .menu i:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.3s;
}
#header-about .overlay,
#header-gallery .overlay,
#header-contact .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-about .overlay.open,
#header-gallery .overlay.open,
#header-contact .overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
#header-about .overlay.open li,
#header-gallery .overlay.open li,
#header-contact .overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
#header-about .overlay.open li:nth-of-type(2),
#header-gallery .overlay.open li:nth-of-type(2),
#header-contact .overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#header-about .overlay.open li:nth-of-type(3),
#header-gallery .overlay.open li:nth-of-type(3),
#header-contact .overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
#header-about .overlay.open li:nth-of-type(4),
#header-gallery .overlay.open li:nth-of-type(4),
#header-contact .overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#header-about .overlay .overlay-menu,
#header-gallery .overlay .overlay-menu,
#header-contact .overlay .overlay-menu {
  text-align: center;
}
#header-about .overlay ul,
#header-gallery .overlay ul,
#header-contact .overlay ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#header-about .overlay ul li,
#header-gallery .overlay ul li,
#header-contact .overlay ul li {
  opacity: 0;
}
#header-about .overlay ul li a,
#header-gallery .overlay ul li a,
#header-contact .overlay ul li a {
  display: block;
  position: relative;
  color: #f49740;
  text-decoration: none;
  overflow: hidden;
  font-size: 2rem;
  transform: scale(1);
  transition: all 0.3s;
}
#header-about .overlay ul li a:hover, #header-about .overlay ul li a:focus, #header-about .overlay ul li a:active,
#header-gallery .overlay ul li a:hover,
#header-gallery .overlay ul li a:focus,
#header-gallery .overlay ul li a:active,
#header-contact .overlay ul li a:hover,
#header-contact .overlay ul li a:focus,
#header-contact .overlay ul li a:active {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.3s;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
#header-about .logo,
#header-gallery .logo,
#header-contact .logo {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  #header-about .logo,
#header-gallery .logo,
#header-contact .logo {
    display: flex;
    justify-content: end;
  }
}
#header-about .logo img,
#header-gallery .logo img,
#header-contact .logo img {
  width: 25%;
  height: 100%;
}

main .video-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 2rem;
}
main .video-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
  position: fixed;
  z-index: 10;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  main .video-container header .lg-screen {
    display: none;
  }
}
main .video-container header .lg-screen ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
main .video-container header .lg-screen ul .link {
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  white-space: nowrap;
  color: #fff;
}
main .video-container header .lg-screen ul .active {
  color: #f49740;
}
main .video-container header .lg-screen ul .link::before,
main .video-container header .lg-screen ul .link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #f49740;
  top: 100%;
  left: 0;
  pointer-events: none;
}
main .video-container header .lg-screen ul .link::before {
  content: "";
  /* show by default */
}
main .video-container header .lg-screen ul .link--thebe {
  text-transform: uppercase;
}
main .video-container header .lg-screen ul .link--thebe::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}
main .video-container header .lg-screen ul .link--thebe:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 2, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}
main .video-container header .lg-screen ul .link--thebe::after {
  content: "";
  top: calc(100% + 4px);
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}
main .video-container header .lg-screen ul .link--thebe:hover::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}
main .video-container header .menu-container {
  background-color: #fff;
  border-radius: 100%;
  color: #f49740;
  cursor: pointer;
  position: absolute;
  left: -118px;
  top: -95px;
  transition: all 0.3s;
}
@media (min-width: 769px) {
  main .video-container header .menu-container {
    display: none;
  }
}
main .video-container header .menu-container.full-menu {
  border-radius: 0;
  padding: 0;
  position: aboslute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  transition: all 0.3s;
}
main .video-container header .full-menu .menu {
  top: 40px;
  left: 40px;
}
main .video-container header .menu {
  color: #f49740;
  font-size: 2rem;
  position: absolute;
  top: 115px;
  left: 130px;
  z-index: 100;
  transition: all 0.3s;
}
main .video-container header .menu i {
  opacity: 0.7;
  transform: scale(1);
  transition: all 0.3s;
}
main .video-container header .menu i:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.3s;
}
main .video-container header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .video-container header .overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
main .video-container header .overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
main .video-container header .overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
main .video-container header .overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
main .video-container header .overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
main .video-container header .overlay .overlay-menu {
  text-align: center;
}
main .video-container header .overlay ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .video-container header .overlay ul li {
  opacity: 0;
}
main .video-container header .overlay ul li a {
  display: block;
  position: relative;
  color: #f49740;
  text-decoration: none;
  overflow: hidden;
  font-size: 2rem;
  transform: scale(1);
  transition: all 0.3s;
}
main .video-container header .overlay ul li a:hover, main .video-container header .overlay ul li a:focus, main .video-container header .overlay ul li a:active {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.3s;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
main .video-container header .logo {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  main .video-container header .logo {
    display: flex;
    justify-content: end;
  }
}
main .video-container header .logo img {
  width: 25%;
  height: 100%;
}
main .video-container .media {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (max-width: 768px) {
  main .video-container .media {
    display: none;
  }
}
main .video-container .media-small {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media (min-width: 769px) {
  main .video-container .media-small {
    display: none;
  }
}
main .video-container .arrow-part {
  position: relative;
  top: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  main .video-container .arrow-part {
    bottom: 10px;
  }
}
main .video-container .arrow-part img {
  width: 3%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  main .video-container .arrow-part img {
    width: 15%;
    height: 100%;
  }
}
main .about {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  background-image: url("/images/about-bg.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
main .about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  main .about {
    height: 100%;
    padding: 1rem 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
main .about .upper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main .about .upper {
    flex-wrap: wrap;
  }
}
main .about .upper .left-part {
  position: relative;
  z-index: 1;
  margin-left: 1rem;
  width: 50%;
}
@media screen and (max-width: 768px) {
  main .about .upper .left-part {
    margin-left: 0;
    width: 100%;
  }
}
main .about .upper .left-part a {
  /* this is the text, when you hover on button */
  /* hover */
}
@media screen and (max-width: 768px) {
  main .about .upper .left-part a {
    margin-left: 0;
  }
}
main .about .upper .left-part a .button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}
main .about .upper .left-part a .button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #f49740;
  --fs-size: 4rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  main .about .upper .left-part a .button {
    font-size: 3rem;
  }
}
main .about .upper .left-part a .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
main .about .upper .left-part a .button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
@media screen and (max-width: 768px) {
  main .about .upper .left-part .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
main .about .upper .left-part .content p {
  line-height: 1.6;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  main .about .upper .left-part .content p {
    text-align: center;
  }
}
main .about .upper .left-part .content p span {
  font-size: 3rem;
  font-weight: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  main .about .upper .left-part .content p span {
    font-size: 2.5rem;
  }
}
main .about .upper .left-part .content .fancy {
  background-color: transparent;
  border: 2px solid #f49740;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 13px;
  margin: 1rem 0;
}
main .about .upper .left-part .content .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: #f49740;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}
main .about .upper .left-part .content .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: #f49740;
}
main .about .upper .left-part .content .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}
main .about .upper .left-part .content .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
main .about .upper .left-part .content .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
main .about .upper .left-part .content .fancy:hover {
  color: #fff;
  background: #f49740;
}
main .about .upper .left-part .content .fancy:hover::before {
  width: 0.9375rem;
  background: #fff;
}
main .about .upper .left-part .content .fancy:hover .text {
  color: #fff;
  padding-left: 1.5em;
}
main .about .upper .left-part .content .fancy:hover .top-key {
  left: -2px;
  width: 0px;
}
main .about .upper .left-part .content .fancy:hover .bottom-key-1,
main .about .upper .left-part .content .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
main .about .upper .left-part .content .second-para {
  margin: 3rem 0;
}
main .about .upper .left-part .content .spread-out .char {
  transition: transform 1s cubic-bezier(0.8, 0, 0.2, 1);
  transition-delay: calc(0.2s * var(--distance-percent));
}
main .about .upper .left-part .content .spread-out:hover .char {
  transition-delay: calc(0.2s * (1 - var(--distance-percent)));
  transform: scale(0.6) translateX(calc(1.25em * var(--distance-sine)));
}
main .about .upper .right-part {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
main .about .upper .right-part .swing {
  -webkit-animation: swing ease-in-out 1s infinite alternate;
          animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
main .about .upper .right-part .swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
@-webkit-keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
main .about .bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
main .about .bottom figure {
  cursor: pointer;
  width: 20%;
  height: 40%;
}
@media screen and (max-width: 768px) {
  main .about .bottom figure {
    width: 90%;
  }
}
main .about .bottom figure h1 {
  color: #fff;
  font-size: 1.5rem;
}
main .about .bottom figure h2 {
  font-size: 1.3rem;
  font-weight: 300;
}
main .about .bottom .c4-gradient-bottom-right {
  background-image: linear-gradient(315deg, #000 0, #fff 100%);
}
main .gallery {
  padding-bottom: 4rem;
}
main .gallery a {
  margin-left: 3rem;
}
@media screen and (max-width: 768px) {
  main .gallery a {
    margin-left: 0;
  }
}
main .gallery a .button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}
main .gallery a .button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #f49740;
  --fs-size: 4rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  margin: 1rem 0;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
@media screen and (max-width: 768px) {
  main .gallery a .button {
    font-size: 2.4rem;
  }
}
main .gallery a .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
main .gallery a .button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
main .gallery .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main .gallery .photos figure {
  cursor: pointer;
  width: 25%;
  height: 50%;
}
@media screen and (max-width: 768px) {
  main .gallery .photos figure {
    width: 90%;
  }
}
main .gallery .photos figure h3 {
  color: #fff;
  font-size: 1.3rem;
}
main .gallery .photos .c4-gradient-bottom-right {
  background-image: linear-gradient(315deg, #241f21 0, #f49740 100%);
}
main .contact {
  padding: 2rem 0;
}
main .contact a {
  margin-left: 3rem;
}
@media screen and (max-width: 768px) {
  main .contact a {
    margin-left: 0;
  }
}
main .contact a .button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}
main .contact a .button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #f49740;
  --fs-size: 4rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  margin-bottom: 3rem;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
@media screen and (max-width: 768px) {
  main .contact a .button {
    font-size: 2.4rem;
  }
}
main .contact a .hover-text {
  position: absolute;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
main .contact a .button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
main .contact .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main .contact .content {
    justify-content: center;
    flex-wrap: wrap;
  }
}
main .contact .content .form-part {
  margin-left: 3rem;
}
@media screen and (max-width: 768px) {
  main .contact .content .form-part {
    margin-left: 0;
  }
}
main .contact .content .form-part form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  main .contact .content .form-part form {
    align-items: center;
  }
}
main .contact .content .form-part form input,
main .contact .content .form-part form textarea {
  margin-bottom: 2rem;
  caret-color: #f49740;
  color: #fff;
}
main .contact .content .form-part form .name,
main .contact .content .form-part form .email,
main .contact .content .form-part form textarea {
  width: 100%;
  outline: none;
  background-color: #312c2e;
  padding: 1rem 3rem 1rem 1rem;
  border: 2px solid transparent;
  transition: 0.3s;
}
main .contact .content .form-part form .name:focus,
main .contact .content .form-part form .email:focus,
main .contact .content .form-part form textarea:focus {
  border: 2px solid #f49740;
}
main .contact .content .form-part form .btn-form {
  display: flex;
  gap: 1rem;
}
main .contact .content .form-part form  input[type=submit],
main .contact .content .form-part form  input[type=reset] {
  outline: none;
  border: none;
  background-color: #f49740;
  color: #fff;
  padding: 1rem 2rem;
}
main .contact .content .location {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .contact .content .location iframe {
  border: 3px solid #f49740 !important;
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  main .contact .content .location iframe {
    width: 100%;
    height: 100%;
  }
}
main .contact .content .location .contact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  main .contact .content .location .contact-box {
    flex-wrap: wrap;
    justify-content: center;
  }
}
main .contact .content .location .contact-box .icons {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
main .contact .content .location .contact-box .icons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}
main .contact .content .location .contact-box .icons a i {
  color: #fff;
  font-size: 1.5rem;
}
main .contact .content .location .contact-box .icons .facebook {
  background-color: #4267B2;
}
main .contact .content .location .contact-box .icons .linkedin {
  background-color: #0A66C2;
}
main .contact .content .location .contact-box .icons .youtube {
  background-color: #FF0000;
}
main .contact .content .location .contact-box .company-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  main .contact .content .location .contact-box .company-details {
    align-items: center;
  }
}
main .contact .content .location .contact-box .company-details h4 {
  color: #f49740;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  main .contact .content .location .contact-box .company-details p {
    text-align: center;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
}
@media screen and (max-width: 768px) {
  footer {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer {
    padding: 20px 0;
  }
}
footer .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 5;
}
@media screen and (max-width: 768px) {
  footer .left {
    display: flex;
    justify-content: center;
  }
}
footer .left img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  footer .left img {
    width: 90%;
    height: 100%;
  }
}
footer .left h3 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
}
footer .middle {
  width: 100%;
}
footer .middle p {
  text-align: center;
  letter-spacing: 2px;
}
footer .middle p span a {
  color: #f49740;
}
@media screen and (max-width: 768px) {
  footer .middle p {
    margin: 1rem 0;
  }
}
footer .right {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 768px) {
  footer .right {
    justify-content: center;
  }
}
footer .right a {
  color: #fff;
}

.about-page {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  background-image: url("/images/about-bg.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
.about-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .about-page {
    height: 100%;
    padding: 1rem 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.about-page .upper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .about-page .upper {
    flex-wrap: wrap;
  }
}
.about-page .upper .left-part {
  position: relative;
  z-index: 1;
  margin-left: 1rem;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .about-page .upper .left-part {
    margin-left: 0;
    width: 100%;
  }
}
.about-page .upper .left-part a {
  /* this is the text, when you hover on button */
  /* hover */
}
@media screen and (max-width: 768px) {
  .about-page .upper .left-part a {
    margin-left: 0;
  }
}
.about-page .upper .left-part a .button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}
.about-page .upper .left-part a .button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #f49740;
  --fs-size: 4rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .about-page .upper .left-part a .button {
    font-size: 3rem;
  }
}
.about-page .upper .left-part a .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.about-page .upper .left-part a .button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
.about-page .upper .left-part .content p {
  line-height: 1.6;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .about-page .upper .left-part .content p {
    text-align: center;
  }
}
.about-page .upper .left-part .content p span {
  font-size: 3rem;
  font-weight: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .about-page .upper .left-part .content p span {
    font-size: 2.5rem;
  }
}
.about-page .upper .left-part .content .middle {
  margin: 1rem 0;
}
.about-page .upper .left-part .content .second-para {
  margin: 3rem 0;
}
.about-page .upper .left-part .content .spread-out .char {
  transition: transform 1s cubic-bezier(0.8, 0, 0.2, 1);
  transition-delay: calc(0.2s * var(--distance-percent));
}
.about-page .upper .left-part .content .spread-out:hover .char {
  transition-delay: calc(0.2s * (1 - var(--distance-percent)));
  transform: scale(0.6) translateX(calc(1.25em * var(--distance-sine)));
}
.about-page .upper .right-part {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.about-page .upper .right-part .swing {
  -webkit-animation: swing ease-in-out 1s infinite alternate;
          animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.about-page .upper .right-part .swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
.about-page .bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.about-page .bottom figure {
  cursor: pointer;
  width: 20%;
  height: 40%;
}
@media screen and (max-width: 768px) {
  .about-page .bottom figure {
    width: 90%;
  }
}
.about-page .bottom figure h1 {
  color: #fff;
  font-size: 1.5rem;
}
.about-page .bottom figure h2 {
  font-size: 1.3rem;
  font-weight: 300;
}
.about-page .bottom .c4-gradient-bottom-right {
  background-image: linear-gradient(315deg, #000 0, #fff 100%);
}

.gallery-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-page .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery-page .swiper-pagination-bullet {
  background-color: #fff;
}
.gallery-page .swiper-pagination-bullet-active {
  background-color: #f49740;
}
.gallery-page .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}
.gallery-page .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .gallery-page .swiper-slide img {
    width: 80%;
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain;
    margin: auto;
  }
}

.contact-page {
  padding-top: 10rem;
  display: grid;
  align-content: center;
}
@media screen and (max-width: 768px) {
  .contact-page {
    padding-top: 5rem;
  }
}
.contact-page .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .contact-page .content {
    padding-top: 5rem;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.contact-page .content .form-part form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .contact-page .content .form-part form {
    align-items: center;
  }
}
.contact-page .content .form-part form input,
.contact-page .content .form-part form textarea {
  margin-bottom: 2rem;
  caret-color: #f49740;
  color: #fff;
}
.contact-page .content .form-part form .name,
.contact-page .content .form-part form .email,
.contact-page .content .form-part form textarea {
  width: 100%;
  outline: none;
  background-color: #312c2e;
  padding: 1rem 3rem 1rem 1rem;
  border: 2px solid transparent;
  transition: 0.3s;
}
.contact-page .content .form-part form .name:focus,
.contact-page .content .form-part form .email:focus,
.contact-page .content .form-part form textarea:focus {
  border: 2px solid #f49740;
}
.contact-page .content .form-part form  {
  display: flex;
  gap: 1rem;
}
.contact-page .content .form-part form  input[type=submit],
.contact-page .content .form-part form  input[type=reset] {
  outline: none;
  border: none;
  background-color: #f49740;
  color: #fff;
  padding: 1rem 2rem;
}
.contact-page .content .location {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-page .content .location iframe {
  border: 3px solid #f49740 !important;
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .contact-page .content .location iframe {
    width: 100%;
    height: 100%;
  }
}
.contact-page .content .location .contact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .contact-page .content .location .contact-box {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.contact-page .content .location .contact-box .icons {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
.contact-page .content .location .contact-box .icons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}
.contact-page .content .location .contact-box .icons a i {
  color: #fff;
  font-size: 1.5rem;
}
.contact-page .content .location .contact-box .icons .facebook {
  background-color: #4267B2;
}
.contact-page .content .location .contact-box .icons .linkedin {
  background-color: #0A66C2;
}
.contact-page .content .location .contact-box .icons .youtube {
  background-color: #FF0000;
}
.contact-page .content .location .contact-box .company-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .contact-page .content .location .contact-box .company-details {
    align-items: center;
  }
}
.contact-page .content .location .contact-box .company-details h4 {
  color: #f49740;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .contact-page .content .location .contact-box .company-details p {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */
